/* Dealer Score Container */
.dealer-score-container {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    gap: 10px;
}

.dealer-header {
    font-size: 2.2rem; /* Slightly larger for better emphasis */
}

#dealerScore {
    font-size: 2.2rem;
    font-weight: bold;
}

/* Card Container */
.card-container {
    display: flex;
    align-items: center; /* Align cards vertically at the center */
    gap: 10px; /* Space between cards */
    padding: 10px 20px; /* Add padding inside the container */
    width: 600px; /* Fixed width */
    height: 220px; /* Fixed height for uniformity */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    scroll-behavior: smooth; /* Optional: Smooth scrolling for a better UX */
}

.hand-container{
    display: flex;
    justify-content: flex-start;
    gap: 10px; /* Space between cards */
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 10px 20px; /* Add padding inside the container */
    width: 600px;
    height: 220px; /* Fixed height for uniformity */
    border-radius: 10px;

}


/* Deck and Hand Containers */
.deck-container, .hand-container {
    align-items: center
}

/* Deck Box */
.deck-box-delr {
    background-image: url('../PlayingCards/card_back_black.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 140px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Add depth with shadow */
}

.hand-box{
    width: 999px;
    overflow-x:scroll;
    display: flex;
}

